---
---
@import "{{ site.theme }}";

body {
    background-color: #0d1117 !important;
    color: #c9d1d9 !important;
}

.main-content, .wrapper, .container {
    background-color: transparent !important;
    color: inherit !important;
}

h1, h2, h3, h4, h5, h6,
a, a:visited,
.site-title,
.btn, #downloads .btn,
::marker, .gp, .gt {
    color: #c770ff !important;
}

a:hover, .btn:hover, #downloads .btn:hover {
    color: #a855f7 !important;
    text-decoration: underline !important;
}

.site-header, hr, .hr {
    border-color: #c770ff !important;
    border-bottom-width: 2px !important;
}

.btn.btn-github {
    border-color: #c770ff !important;
}

.btn.btn-github .icon {
    background-color: #c770ff !important;
}

pre, code, .highlight, .highlighter-rouge {
    background-color: #161b22 !important;
    color: #8b949e !important;
    border: 1px solid #30363d !important;
}

.highlight .k, .highlight .kd {
    color: #c770ff !important;
}
