---
---
@import "{{ site.theme }}";

body {
    background-color: #f5f5f7 !important;
    color: #333333 !important;
}

.main-content {
    background-color: transparent !important;
}

h1, h2, h3, h4, h5, h6,
a, .btn, ::marker, .gp, .gt,
.site-title, #downloads .btn {
    color: #c770ff !important;
}

a:hover, .btn:hover {
    color: #a855f7 !important;
}

.site-header, hr {
    border-color: #c770ff !important;
}

.btn.btn-github {
    border-color: #c770ff !important;
}
.btn.btn-github .icon {
    background-color: #c770ff !important;
}

pre, code {
    background-color: #e8e8e8 !important;
    color: #222222 !important;
    border-color: #c770ff !important;
}
.highlight .k, .highlight .kd {
    color: #c770ff !important;
}
